* { margin: 0;  padding: 0;  box-sizing: border-box; }
body { background: #525659; font-family: 'Lato', sans-serif; font-weight: 400; }

/* 
lato 
Light 300
Regular 400
Regular 400 italic
Black 900
font-family: 'Lato', sans-serif;


font-family: 'allerbold';
*/

header { margin-bottom: 30px;}
header .container { 
    height: 100vh; display: flex; flex-direction: column; background: #000;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
}
.datas { background-color: #000; font-size: 16px; color: #fff; height: 14.66%; display: flex;justify-content: center;align-items: center; }
.sao-paulo { 
    border-top: 1px solid #fff; 
    border-bottom: 1px solid #fff; 
    height: 21.94%; 
    background: url(../images/bg-padrao.jpg) center no-repeat; 
    background-size: cover;
    display: flex;justify-content: center;align-items: center; flex-direction: column; 
    text-align: center; 
    padding: 20px 0;
}
.sao-paulo .font1 { font-weight: 900; font-size: 40px; text-transform: uppercase; color: #fff;}
.sao-paulo .font2 { font-size: 20px; text-transform: uppercase; color: #fff;}
.bandeira { text-align: center; }
.logo-governo {height: 23.35%; display: flex;justify-content: center;align-items: center;flex-direction: column;}
.faixa-cinza { height: 1.92%; background: #454647;}



.template-padrao { 
    max-width: 1100px; margin: 0 auto; 
    background: url(../images/bg-padrao.jpg) center no-repeat; 
    background-size: cover;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.75);
    margin-bottom: 30px;
}
.template-titulo { 
    display: flex; justify-content: space-between; align-items: center; padding: 20px 30px; min-height: 112px; 
}
    .template-policia .template-titulo { margin-bottom: 20px; }

.template-titulo .assunto { 
    font-weight: bold; font-size: 55px; color: #2c2c2c; text-transform: uppercase;
    text-shadow: 1px 1px 5px #fff; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 1px 1px 5px #fff;
    -webkit-text-shadow: 1px 1px 5px #fff;
    display: flex; align-items: flex-end; height: 100%;
    width: 60%;
}
    
    .template-ecoGeraEmpre .template-titulo .assunto { font-size: 43px; }
    .template-ciencia-tec .template-titulo .assunto { font-size: 43px; }

.template-imagem { 
    height: 389px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: 2px; margin-right: 2px;
}

    .template-policia .template-imagem { height: 430px; margin-right: 250px; margin-bottom: 40px; }
    .template-policia .celular { position: absolute; right: -190px; top: -30px; }
    .logo-servico { position: absolute; top: 48px; left: 35px;}

    .template-imagem .nota,
    .template-ecoGeraEmpre .nota {  position: absolute; right: 0;bottom: 0; width: 50%; padding: 20px 50px; background: rgba(255,255,255,0.5 ); font-weight: 900; }
    .template-assistencia1 .template-imagem { height: 493px; }
    .logo-servico-bomPrato { position: absolute; top:unset; bottom: 17px; left: 45px; }
    .template-habitacao .template-imagem { height: 576px; }
    .template-transporte .template-imagem { height: 539px; }

.template-body { display: flex; justify-content: space-between; }
.template-body .coluna-info { 
    max-width: 48%; font-size: 23px; font-weight: 400; font-weight: 300; color: #fff; 
    padding: 45px 50px 50px 20px;
    /* border: 1px solid #000; */
}
.template-body .coluna-info strong { font-weight: 900; color: #4ac7f0;}
.template-body .coluna-info .item { margin-bottom: 30px; display: flex; }
.template-body .coluna-info .item .icone { width: 80px; text-align: center;}
.template-body .coluna-info .item .icone * { max-width: 100%; }
.template-body .coluna-info .item .texto { flex: 1; }
.pr10 {padding-right: 10px;}

    .template-ciencia-tec .template-body .coluna-info .item .icone { width: 100px; padding-right: 10px;}
    .template-body .coluna-info .item-ciencia-tec1 { flex-direction: column; padding-left: 80px; }
    .template-ciencia-tec .template-body .coluna-info .item-ciencia-tec1 .icone { width: 100%; text-align: left; margin-bottom: 20px; }

.template-footer { display: flex; flex-direction: column;}
.template-footer .expediente {color: #47c7ef; font-size: 20px;text-align: center; line-height: 180%;padding: 100px 0 50px;}
.template-footer .expediente p {font-weight: bold; font-size: 25px;}

.template-footer .codebar {text-align: center; padding: 50px 0;}
.template-footer .codebar a {color: #fff;font-size: 40px;}
.template-footer .redessociais { text-align: center; padding: 50px 0; }
.template-footer .redessociais p {color: #fff;font-size: 20px; padding: 15px 0;}
.template-footer .redessociais a {color: #fff;font-size: 30px;}


